<div class="container p-4">
    <div class="row">
        
        {{#each links}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{Url}}" target="_blank">
                            <h3 class="card-title text-uppercase">
                                {{Title}}
                            </h3>
                        </a>
                        <p class="m-2">
                            {{Description}}
                        </p>
                        <p>
                            {{ timeago Created_at }}
                        </p>
                        <a href="/links/edit/{{ID}}" class="btn btn-secondary">Edit link</a>
                        <a href="/links/delete/{{ID}}" class="btn btn-danger">Delete link</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not links saved yet.</p>
                    <a href="/links/add" class="btn btn-success">Create One!</a>
                </div>
            </div>

        {{/each}}

    </div>
</div>